*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
xdebug-3.5.1/
*.tgz
*.so
*.lo
*.la
.libs/
autom4te.cache/
